*{
	margin: 0;
	padding: 0;
}

html{
	font-family: "游ゴシック";
	font-size: 62.5%;
	line-height: 1.6;
}

body{
	background: #fff;
}

p{
	font-size: 1.2rem;
}

li{
	list-style: none;
}

a{
	font-size: 1.2rem;
	text-decoration: none;
	color: #000;
}

/*========================
	header
========================*/
header{
	height: 100px;
	position: relative;
	border-bottom: 1px solid #bbb;
}

h1{
	float: left;
	position: absolute;
	width: 250px;
	left: 10%;
	top: 50%;
	transform: translate(0, -50%);
}

h1 span{
	position: absolute;
	top: 50%;
	transform: translate(0, -70%);
	right: 0;
}

h1 img{
	width: 54px;
}

nav ul{
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translate(0, -50%);
}

nav li{
	float: left;
	box-sizing: border-box;
}

nav li a{
	font-size: 1.6rem;
	display: block;
	padding:30px 20px;
}

nav li:hover,
nav li:focus{
	border-bottom: 1px solid blue;
}

nav li a:hover,
nav li a:focus{
	padding: 29px 20px;
	opacity: 0.5;
}

/*========================
	main
========================*/
.kv img{
	width: 100%;
}

.main_wrap h2,
.font{
	margin: 10px 0 100px;
	font-size: 2rem;
	text-align: center;
	font-weight: normal;
}

.main_wrap h2.big{
	margin: 60px 0 10px;
	font-size: 5.5rem;
}


.main_wrap img{
	width: 100%;
}

.main_content{
	width: 80%;
	position: relative;
	right: 10%;
	left: 10%;
	text-align: center;
}

.main_content ul{
	display: flex;
	justify-content: space-between;
	margin:50px 0;
}

.main_content li{
	max-height: none;width:200px;
}

.main_content span{
	display: block;
	font-size: 1.4rem;
	margin-top: 15px;
}

.applepay{
	max-width: 750px;
	margin: 0 auto 50px;
}

.applepay h2{
	font-size: 3.2rem;
	font-weight: normal;
}

.applepay img{
	float: left;
}

.applepay p{
	margin-top: 10px;
	font-size: 1.4rem;
}

.applepay a{
	float: right;
	font-size: 1.8rem;
	border: 1px solid #666;
	padding:5px 0;
	width: 180px;
	border-radius: 5px;
	text-align: center;
	color: #666;
	margin-top: 30px;
}

.applepay a:hover,
.applepay a:focus{
	opacity: 0.7;
}

.syosai p{
	clear: both;
	margin-top: 0;
	font-size: 1rem;
}

.syosai p::before{
	content: "※";
}

.mousikomi{
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.mousikomi a{
	border: 1px solid #ea5252;
	background: #ea5252;
	border-radius: 5px;
	color:#fff;
}

footer{
	background: #191919;
	color: #fff;
	padding: 20px 0;
}

footer p:first-child{
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
}

footer .cp{
	text-align: center;
}

@media screen and (max-width: 1050px) {
	nav{
		display: none;
	}

	nav ul{
		width: 100%;
		position: relative;
		top:265px;
		right: 0;
		left: 0;
		background: #fff;
		border-top: 1px solid blue;
	}

	nav li{
		float: none;
		border-bottom: 1px solid #000;
		box-sizing: border-box;
	}

	nav li a{
		text-align: center;
		padding: 15px 0;
	}
	
	nav li:hover,
	nav li:focus{
		border-bottom: 1px solid #000;
	}

	nav li a:hover,
	nav li a:focus{
		padding: 15px 0;
		opacity: 1;
	}
}

@media screen and (max-width: 780px) {
	.main_content ul{
		flex-direction: column;
	}

	.main_content li{
		margin: 30px auto;
	}

	.applepay{
		max-width: 750px;
		margin: 0 auto;
	}

	.applepay h2{
		clear: both;
		text-align: center;
		font-size: 1.8rem;
	}

	.applepay p{
		text-align: center;
	}

	.main_wrap h2,
	.font{
		font-size: 1.6rem;
	}

	.main_wrap h2.big{
		font-size: 2rem;
	}
}

@media screen and (max-width: 375px) {
	.main_wrap h2,
	.font{
		font-size: 1.3rem;
	}

	.applepay img{
		position: relative;
		left: 15%;
	}

	.applepay a{
		position: relative;
		left: 25%;
		float: none;
		padding:5px 30px;
	}

	.applepay p{
		margin-bottom: 15px;
		font-size: 1rem;
	}

	.syosai p{
		margin-top: 15px;
		font-size: 0.6rem;
	}
}